@model IEnumerable<Repairshop.Models.RepairOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repairGuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (DateTime.Now > item.EndDate || item.StartDate > item.EndDate)
        {
            <tr style="background-color:red">
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parts.AmountNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.repairGuy.user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.user.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "DetailsEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parts.AmountNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.repairGuy.user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.user.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "DetailsEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }


</table>
